@tailwind base;
@tailwind components;
@tailwind utilities;

/* גלילה חלקה לכל הדף */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  overflow-y: auto !important;
  background-color: #000; /* אם יש צורך ברקע כהה קבוע */
}

/* כותרת עליונה */
.Header {
  margin-bottom: 20px;
}
